Makefile
bubble.cpp~
fire.cpp~
game_pkehoe
game_pkehoe.pro
gameitem.h
gameitem.h~
main.cpp~
mainwindow.cpp~
mainwindow.h~
mermaid.cpp~
mermaid_real.bmp
mermaid_real.jpg
mermaid_real.png
moc_mainwindow.cpp
shark.cpp~
shark.h~
sharky.png
tiki.cpp~
.gitignore~
GameDesignDoc.md~
README.md~
boat.cpp~
boat.h~
bubble.h~
fire.h~
mermaid.h~
tiki.h~




# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
